<!DOCTYPE html>
<html>
	<head>
		<title>SkipBait</title>
		<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<style type="text/css">
			body { font-family: 'Montserrat', sans-serif; font-size: 180%; }
			h1 { font-size: 700%; margin-bottom: 40px; left: -9px; position: relative; }
			h2 { border-bottom: 1px solid #CCC; padding-bottom: 4px; }
			h1,h2,h3 { font-weight: bold; }
			.container { max-width: 970px; }
		</style>

		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	</head>

	<body>
		<div class="container">
			{{ markdown_text|markdown }}
		</div>
	</body>
</html>